In [1]:
import numpy as np
import pandas as pd

In [3]:
sr = pd.Series([1,2,8,np.nan,17,9])
sr

In [6]:
daty = pd.date_range("20230207",periods=6)
daty

DatetimeIndex(['2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10',
               '2023-02-11', '2023-02-12'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.rand(6,4),index=daty,columns=list("ABCD"))
df

,A,B,C,D
2023-02-07,0.316170,0.074705,0.001064,0.795991
2023-02-08,0.156687,0.090128,0.839807,0.078959
2023-02-09,0.988682,0.969425,0.119700,0.205174
2023-02-10,0.924363,0.829190,0.969768,0.939323
2023-02-11,0.728227,0.845590,0.978837,0.435732
2023-02-12,0.668003,0.595073,0.250868,0.519682

In [9]:
s= "lajkonik"
print(s)

lajkonik

In [10]:
print(s[0])
print(s[2])
print(s[2:5])
print(s[4:])

l
j
jko
onik

In [12]:
df.head(3)

,A,B,C,D
2023-02-07,0.316170,0.074705,0.001064,0.795991
2023-02-08,0.156687,0.090128,0.839807,0.078959
2023-02-09,0.988682,0.969425,0.119700,0.205174

In [13]:
df.tail(2)

,A,B,C,D
2023-02-11,0.728227,0.845590,0.978837,0.435732
2023-02-12,0.668003,0.595073,0.250868,0.519682

In [14]:
df.index

DatetimeIndex(['2023-02-07', '2023-02-08', '2023-02-09', '2023-02-10',
               '2023-02-11', '2023-02-12'],
              dtype='datetime64[ns]', freq='D')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
e = df.to_numpy()
e

In [17]:
print(type(df))
print(type(e))

<class 'pandas.core.frame.DataFrame'>
<class 'numpy.ndarray'>

In [18]:
df.describe()

,A,B,C,D
count,6.000000,6.000000,6.000000,6.000000
mean,0.630355,0.567352,0.526674,0.495810
std,0.331333,0.394677,0.450954,0.331429
min,0.156687,0.074705,0.001064,0.078959
25%,0.404128,0.216365,0.152492,0.262813
50%,0.698115,0.712132,0.545338,0.477707
75%,0.875329,0.841490,0.937278,0.726914
max,0.988682,0.969425,0.978837,0.939323

In [19]:
e.describe()

AttributeError: AttributeError: 'numpy.ndarray' object has no attribute 'describe'

In [20]:
df.T

,2023-02-07,2023-02-08,2023-02-09,2023-02-10,2023-02-11,2023-02-12
A,0.316170,0.156687,0.988682,0.924363,0.728227,0.668003
B,0.074705,0.090128,0.969425,0.829190,0.845590,0.595073
C,0.001064,0.839807,0.119700,0.969768,0.978837,0.250868
D,0.795991,0.078959,0.205174,0.939323,0.435732,0.519682

In [23]:
df.sort_index(axis=1,ascending=False)

,D,C,B,A
2023-02-07,0.795991,0.001064,0.074705,0.316170
2023-02-08,0.078959,0.839807,0.090128,0.156687
2023-02-09,0.205174,0.119700,0.969425,0.988682
2023-02-10,0.939323,0.969768,0.829190,0.924363
2023-02-11,0.435732,0.978837,0.845590,0.728227
2023-02-12,0.519682,0.250868,0.595073,0.668003

In [24]:
df.sort_values(by="B")

,A,B,C,D
2023-02-07,0.316170,0.074705,0.001064,0.795991
2023-02-08,0.156687,0.090128,0.839807,0.078959
2023-02-12,0.668003,0.595073,0.250868,0.519682
2023-02-10,0.924363,0.829190,0.969768,0.939323
2023-02-11,0.728227,0.845590,0.978837,0.435732
2023-02-09,0.988682,0.969425,0.119700,0.205174

In [25]:
df["A"]

In [26]:
df[0:3]

,A,B,C,D
2023-02-07,0.316170,0.074705,0.001064,0.795991
2023-02-08,0.156687,0.090128,0.839807,0.078959
2023-02-09,0.988682,0.969425,0.119700,0.205174

In [28]:
df["20230208":"20230210"]

,A,B,C,D
2023-02-08,0.156687,0.090128,0.839807,0.078959
2023-02-09,0.988682,0.969425,0.119700,0.205174
2023-02-10,0.924363,0.829190,0.969768,0.939323

In [29]:
df.iloc[3]

In [31]:
df.iloc[3:5,0:2]

,A,B
2023-02-10,0.924363,0.82919
2023-02-11,0.728227,0.84559

In [32]:
df.iloc[[1,2,4],[0,2]]

,A,C
2023-02-08,0.156687,0.839807
2023-02-09,0.988682,0.119700
2023-02-11,0.728227,0.978837

In [33]:
df.iloc[1,1]

0.090128461127568

In [34]:
df[df["A"]>0.3]

,A,B,C,D
2023-02-07,0.316170,0.074705,0.001064,0.795991
2023-02-09,0.988682,0.969425,0.119700,0.205174
2023-02-10,0.924363,0.829190,0.969768,0.939323
2023-02-11,0.728227,0.845590,0.978837,0.435732
2023-02-12,0.668003,0.595073,0.250868,0.519682

In [35]:
df2 = df.copy()

In [36]:
df2["E"] = ["pierwszy","drugi","trzeci","pierwszy","trzeci","pierwszy"]

In [37]:
df2

,A,B,C,D,E
2023-02-07,0.316170,0.074705,0.001064,0.795991,pierwszy
2023-02-08,0.156687,0.090128,0.839807,0.078959,drugi
2023-02-09,0.988682,0.969425,0.119700,0.205174,trzeci
2023-02-10,0.924363,0.829190,0.969768,0.939323,pierwszy
2023-02-11,0.728227,0.845590,0.978837,0.435732,trzeci
2023-02-12,0.668003,0.595073,0.250868,0.519682,pierwszy

In [39]:
df2[df2["E"].isin(["pierwszy","trzeci"])]

,A,B,C,D,E
2023-02-07,0.316170,0.074705,0.001064,0.795991,pierwszy
2023-02-09,0.988682,0.969425,0.119700,0.205174,trzeci
2023-02-10,0.924363,0.829190,0.969768,0.939323,pierwszy
2023-02-11,0.728227,0.845590,0.978837,0.435732,trzeci
2023-02-12,0.668003,0.595073,0.250868,0.519682,pierwszy

In [40]:
df.to_csv('dane.csv')

In [41]:
dnframe = pd.read_csv('dane.csv')

In [42]:
dnframe

,Unnamed: 0,A,B,C,D
0,2023-02-07,0.316170,0.074705,0.001064,0.795991
1,2023-02-08,0.156687,0.090128,0.839807,0.078959
2,2023-02-09,0.988682,0.969425,0.119700,0.205174
3,2023-02-10,0.924363,0.829190,0.969768,0.939323
4,2023-02-11,0.728227,0.845590,0.978837,0.435732
5,2023-02-12,0.668003,0.595073,0.250868,0.519682

In [43]:
dnframe = pd.read_csv('dane.csv',index_col=0)

In [44]:
dnframe

,A,B,C,D
2023-02-07,0.316170,0.074705,0.001064,0.795991
2023-02-08,0.156687,0.090128,0.839807,0.078959
2023-02-09,0.988682,0.969425,0.119700,0.205174
2023-02-10,0.924363,0.829190,0.969768,0.939323
2023-02-11,0.728227,0.845590,0.978837,0.435732
2023-02-12,0.668003,0.595073,0.250868,0.519682